body {
  font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
  }
  
  nav h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
/* Center the card horizontally */
.card {
  display: flex;
  justify-content: center;
}

/* Set a max width for the card */
.card-container {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the image */
.card-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the text */
.card-text {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
}
table {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

/* Style the table header */
th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 8px;
}

/* Style the table rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the table cells */
td {
  border: 1px solid #ddd;
  padding: 8px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

h1 {
  text-align: center;
}